/* Core Entry Level Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #141414; /* Prevents white flashes during page transitions */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}